<div class="bg-white rounded-sm cookie-settings">
    <div class="title d-flex justify-content-between align-items-center"
         (click)="isSettingsContentCollapsed = !isSettingsContentCollapsed">
        <span>Advertising</span>
        <i class="fas"
           [ngClass]="{
                'fa-angle-down': isSettingsContentCollapsed,
                'fa-angle-up': !isSettingsContentCollapsed
            }">
        </i>
    </div>
    <div class="content"
         id="collapsedSettingsContent"
         [ngbCollapse]="isSettingsContentCollapsed">
        <p>We use social media tools on our website to enable sharing from our website.</p>

        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Plugins</th>
                    <th scope="col">Block/Enable</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Google Analytics</td>
                    <td>button</td>
                    <td>Go to site</td>
                </tr>
                <tr>
                    <td>Google Analytics</td>
                    <td>button</td>
                    <td>Go to site</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
