<div class="modal-header">
    <h4 class="modal-title">Can we store cookies?</h4>
    <button type="button"
            class="close"
            (click)="activeModal.dismiss('Cross click')">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <p>
      We and our partners use technologies, such as cookies, and process personal
      data, such as IP addresses and cookie identifiers, to personalize ads and content
      based on your interests, measure the performance of ads and content, and derive
      insights about the audiences who saw ads and content.
    </p>
    <p>
      Click below to consent to the use of this technology and the processing of your
      personal data for these purposes. You can change your mind and change your
      consent choices at any time by returning to this site.
    </p>
    <p>You can familiarize with our <a href="/">Privacy Policy</a></p>
</div>
<div class="modal-footer d-flex justify-content-between align-items-center">
    <div class="m-0">
        <button type="button"
                class="btn banner-btn mr-2"
                (click)="activeModal.close('Accept All click')">
            Accept All
        </button>
        <button type="button"
                class="btn btn-outline-secondary"
                (click)="activeModal.close('Save Settings click')">
            Save Settings
        </button>
    </div>
    <span (click)="isCollapsed = !isCollapsed"
          class="toggle-settings">
        Customize
        <i class="fas ml-1"
           [ngClass]="{ 'fa-angle-down': isCollapsed, 'fa-angle-up': !isCollapsed }">
        </i>
    </span>
</div>

<div id="collapsedContent"
     class="settings-wrapper rounded-bottom"
     [ngbCollapse]="isCollapsed">
    <div *ngFor="let banner of bannerSettings">
      <app-cookie-banner-settings [banner]="banner"></app-cookie-banner-settings>
    </div>
</div>
