<div class="modal-header">
    <h4 class="modal-title">Can we store cookies?</h4>
    <button type="button"
            class="close"
            (click)="activeModal.dismiss('Cross click')">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet tortor neque. Donec
        at erat facilisis nibh sollicitudin hendrerit. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Aliquam sem ligula, interdum eu lorem ut, mattis
        pretium velit. Nulla eu lorem nisl. Sed ornare ultricies tincidunt.
    </p>
</div>
<div class="modal-footer d-flex justify-content-between align-items-center">
    <div>
        <button type="button"
                class="btn banner-btn mr-2"
                (click)="activeModal.close('Accept All click')">
            Accept All
        </button>
        <button type="button"
                class="btn btn-outline-secondary"
                (click)="activeModal.close('Save Settings click')">
            Save Settings
        </button>
    </div>
    <span (click)="isCollapsed = !isCollapsed"
          class="toggle-settings">
        Customize
        <i class="fas ml-1"
           [ngClass]="{ 'fa-angle-down': isCollapsed, 'fa-angle-up': !isCollapsed }">
        </i>
    </span>
</div>

<div id="collapsedContent"
     class="settings-wrapper"
     [ngbCollapse]="isCollapsed">
    <div *ngFor="let banner of bannerSettings">
      <app-cookie-banner-settings [banner]="banner"></app-cookie-banner-settings>
    </div>
</div>
