/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100vh;
    position: relative;
    font-family: 'Raleway', 'Roboto', sans-serif;

    .btn {
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 0.875rem;
        min-width: 130px;
        border-radius: 0;
        padding: 10px 14px;
    }

    .banner-btn {
        background-color: #7ebf4b;
        color: white;

        &:hover {
            color: white;
            background-color: darken(#7ebf4b, 5%);
        }
    }

    .banner-btn-outline {
        @extend .banner-btn;
        border: 1px solid white;
        background-color: transparent;

        &:hover {
            color: black;
            background-color: white;
        }
    }

    a,
    .btn {
        transition: all 300ms ease-in-out;
    }

    a {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
        text-decoration: underline;

        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .app-wrapper {
        background-color: #264653;
        height: 100vh;

        h3 {
            font-weight: 200;
        }
        h1 {
            font-weight: 600;
        }
    }
}
